<ion-header>
  <ion-toolbar [color]="isRecording ? 'danger' : 'primary'">
    <ion-title>
      Talk to Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="getPermission()">
    Get Permissions
  </ion-button>
  <ion-button expand="full" (click)="startListening()">
    Start
  </ion-button>
  <ion-button expand="full" *ngIf="isIos()" (click)="stopListening()">
    Stop
  </ion-button>

  <ion-card>
    <ion-card-header>
      Entendi isso...
    </ion-card-header>
    <ion-item *ngFor="let match of matchs">
      {{match}}
      <ion-button (click)="speakText(match)">
        <ion-icon slot="icon-only" name="musical-note"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>